/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* COLORS  */
:root {
    --blacck:#333;
    --red: #d1232a;
    --border-color: #ececec;
    --brown:#eddcb9;
    --white: #fff;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}
a, button {
    font-family: "PT Sans";
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.4;
    transition: all 0.3s ease;
}
.site__header-container {
    display: flex;
    flex-direction: column;
}
.site__header-top {
    height: 60px;
    padding: 0 63px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}
.site__header-list {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.site__header-item:not(:last-child) {
    margin-right: 34px;
}

.site__header-link {
    color: var(--blacck);
}

.site__header-link:hover {
    text-decoration: underline;
    color: var(--red);
}

.site__header-region {
    font-size: 16px;
}

.underlined-link {
    margin-right: 45px;
    color: var(--red);
    background: linear-gradient(to left,rgba(209,35,42,.6),rgba(209,35,42,.6) 60%,transparent 60%);
    background-size: 6px 1px;
    background-repeat: repeat-x;
    background-position: 0 100%;
}
.underlined-link:hover {
    background: none;
}

.site__header-log  {
    color: var(--blacck);
}

.site__header-log:hover {
    color: var(--red);
    text-decoration: underline;
}

.site__header-middle {
    padding: 0 63px;
    height: 102px;
    display: flex;
    align-items: center;
}
.site-logo {
    margin-right: 35px;
}
.site-logo img {
    display: block;
}

.site__header-middle-list {
    display: flex;
    align-items: center;
}
.site__header-middle-item {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}
.site__header-middle-item:last-child {
    max-width: 275px;
    font-size: 13px;
}
.site__header-middle-pnumber {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    color: black;
}
.site__header-middle-item:nth-child(2) .site__header-middle-pnumber{
    font-weight: 400;
}
.site__header-middle-item:nth-child(2) span i {
    font-size: 18px;
    line-height: 1.5;
    transition: all 0.3s ease;
}
.site__header-middle-item:nth-child(2) span i:hover {
    transform: scale(1.1);
}
.site__header-middle-item:nth-child(2) span i:first-child {
    color: green;
    margin-right: 10px;
}
.site__header-middle-item:nth-child(2) span i:last-child {
    color: purple;
}
.working-ours {
    font-weight: 700;
}
.site__header-middle-btns {
    display: flex;
    align-items: center;
}
.site__header-middle-links-item {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.site__header-middle-links-item-last {
    width: 140px;
    height: 70px;
    background-color: var(--brown);
    border-radius: 4px;
}
.site__header-middle-links-item-number {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--white);
    background-color: var(--red);
    font-size: 14px;
}
.site__header-middle-link {
    font-size: 25px;
    color: var(--blacck);
}
.site__header-middle-link a i{
    transition: all 0.3s ease;
}
.site__header-middle-link:hover  i {
    position: relative;
    top: 2px;
    left: 0;
}

.site__header-middle-link-last {
    display: flex;
    align-items: center;
    padding: 10px;
}
.site__header-middle-links-item-last {
    margin-left: 20px;
}
.site__header-middle-link-last .site__header-middle-links-item-number {
    left: 30px;
    top: 10px;
}
.site__header-middle-link-last  span{
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
}
.site__header-middle-link-last i {
    margin-right: 15px;
}
.site__header-middle-links-first-item {
    width: 70px;
    height: 60px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--brown);
    border-radius: 4px;
}
.site__header-middle-links-first-item a {
    color: var(--red);
}


.site__header-bottom {
    padding: 18px 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--brown);
}
.site__header-bottom a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}
.site__header-bottom-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.site__header-bottom-list:first-child .site__header-bottom-item:not(:last-child) {
    margin-right: 32px;
}
.site__header-bottom-list:first-child .site__header-bottom-link{
    color: var(--blacck);
    font-weight: 700;
}
.site__header-bottom-list:first-child .site__header-bottom-link:hover {
    color: var(--red);
}
.site__header-bottom-list:last-child .site__header-bottom-item:not(:first-child) {
    margin-left: 32px;
}
.site__header-bottom-list:last-child .site__header-bottom-link {
    color: var(--red);
    font-weight: 700;
}
.site__header-bottom-list:last-child .site__header-bottom-link:hover {
    color: var(--blacck);
}
.site__header-bottom-middle-link {
    display: flex;
    align-items: center;
    color: var(--red);
    font-weight: 700;
}
.site__header-bottom-middle-link::before {
    width: 24px;
    height: 19px;
    margin-right: 5px;
    content: "";
    background-image: url(../images/table-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.site__header-bottom-middle-link:hover {
    color: var(--blacck);
}


/* START MAIN SECTION  */
.top-add {
    max-width: 1250px;
    margin: 20px auto;
    padding-top: 55px;
    padding-bottom: 30px;
    padding-left: 195px;
    display: flex;
    border: 1px solid var(--red);
    border-radius: 4px;
}
.top-add__img {
    margin-right: 20px;
}
.top-add__text {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--blacck);
}
.top-add__text span {
    font-weight: 700;
}
.top-add__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--red);
}
.top-add__link:hover {
    text-decoration: underline;
}

.main-nav__list {
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}
.main-nav__item {
    max-width: 135px;
}
.main-nav__link {
    height: 100%;
    padding: 0 5px;
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: var(--blacck);
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}
.main-nav__link::before {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-bottom: 13px;
    content: "";
    background-color: var(--brown);
    background-image: url(../images/menu-chair.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.main-nav__link:active,
.main-nav__link-active {
    border-color: var(--red);
}

.main-nav__item:first-child .main-nav__link::before {
    background-color: var(--red);
    background-image: url(../images/table-img.png);
}

.main-nav__link:hover {
    color: var(--red);
}
.main-products__top {
    padding-left: 65px;
    padding-right: 65px;
    display: flex;
    flex-direction: column;
}
.main-products__top-list {
    padding-top: 20px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.main-products__top-list a {
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--red);
}
.main-products__top-list a:hover {
    text-decoration: underline;
}
.main-products__top-list li {
    position: relative;
    transition: all 0.3s ease;
}

.main-products__top-dropdown {
    display: none;
    width: 300px;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--white);
    border: 1px solid #ececec;
    transition: all 0.3s ease;
}
.main-products__top-list li:hover .main-products__top-dropdown {
    display: block;
}   
.main-product__top-title {
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 29px;
}
.main-products__top p {
   margin-bottom: 22px;
}
.main-products__top-product-wrapper {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.main-products__top-product-card {
    height: 138px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--blacck);
    border: 1px solid #eddcb9;
    box-shadow: 0 3px 4px rgba(146,146,146,.18);
    transition: all 0.3s ease;
}
.main-products__top-product-card:hover{
    box-shadow: 0px 10px 15px rgba(146,146,146,.4);
}




.main-second-nav__list {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.main-second-nav__link {
    line-height: 1.5;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--brown);
    color: var(--blacck);
}
.main-second-nav__link:hover {
    background-color: var(--red);
    color: var(--white);
}
.main-second-nav__item {
    margin: 10px;
    margin-bottom: 20px;
    margin-left: 0;
}

.main-second-nav__btn {
    border: none;
    width: 35px;
    height: 40px;
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    color: var(--blacck);
    background-color: var(--brown);
    border-radius: 5px;
    transition: all 0.3s ease;
}
.main-second-nav__btn:hover {
    background-color: var(--red);
    color: var(--white);
}

.main-second-nav__close-btn {
    display: none;
} 



/* START MAIN CONTENT  */

.main-content {
    display: flex;
    padding-top: 20px;
    padding-bottom: 60px;
}
.main-content-left {
    width: 312px;

}

.main-content-left__add a {
    display: inline-block;
    margin-bottom: 30px;
    padding: 8px 4px;
    border: 1px solid;
    transition: all 0.3s ease;
    border-radius: 5px;
    border-color: #eddcb9;
}
.main-content-left__add a:hover {
    box-shadow: 0px 10px 15px rgba(146,146,146,.4);
}
.main-content-left__list {
    width: 282px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--brown);
}
.main-content-left__btn {
    width: 242px;
    padding-top: 14px;
    padding-bottom: 12px;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--blacck);
    transition: all 0.3s ease;
    border: 1px solid transparent;
    border-bottom-color: #c5b490;
    background-color: var(--brown);
}
.main-content-left__btn i {
    margin-right: 12px;
    color: var(--red);
}
.main-content-left__btn:hover {
    color: var(--red);
}
.main-content-left__item:first-child .main-content-left__btn {
    padding-top: 0;
}
.main-content-left__btn i:nth-child(2) {
    float: right;
}


.main-content-left__btns {
    padding: 20px;
    width: 282px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--brown);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main-content-left__edit-search {
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--red);
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: var(--white);
    transition: all 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
}
.main-content-left__edit-search:hover  {
    background-color: #ff4149;
}

.main-content-left__delete-serach {
    border: none;
    background: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: var(--blacck);
    transition: all 0.3s ease;
    cursor: pointer;
}
.main-content-left__delete-serach:hover {
    color: var(--red);
}



.main-content-left__dropdown-colors {
    margin: 10px 5px;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: auto;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
}
.main-content-left__dropdown-item {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
}
.main-content-left__dropdown-btn {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    background-color: blue;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.main-content-left__dropdown-btn:hover {
    box-shadow: 3px -4px 1px rgba(0, 0, 0, 0.25);
}
.main-content-left__dropdown-item:nth-child(even) .main-content-left__dropdown-btn{
    background-color: pink;
}
.main-content-left__dropdown-item-active {
    border-color: var(--red);
}


.main-content-left__dropdown {
    display: none;
}
.main_content_left__dropdown_show {
    display: grid;
}

.main_content_left__btn_active i:first-child {
    transform: rotate(90deg);
}
.sidebar__select {
    width: 240px;
    height: 38px;
    border: 2px solid ;
}
.range-input {
    display: flex;
    align-items: center;
}
.range-input div {
    width: 121px;
    height: 40px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid var(--brown);
    font-size: 16px;
    color: var(--blacck);
}
.range-input div:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.range-input div:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.range-input input {
    width: 100%;
    border: none;
    outline: none;
    text-indent: 20px;
    font-size: 16px;
}
.checkbox {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    margin-right: 10px;
}
.main-content-left__dropdown label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}
.main-content-left__dropdown label:hover {
    color: var(--red);
}
.main-content-left__dropdown {
    padding: 10px 5px;
}
.main-content-left__dropdown label:not(:last-child) {
    margin-bottom: 10px;
}
 /* START MAIN CONTENT  RIGHT */

 .main-content-right {
     padding: 0 15px;
 }

 .main-content-right__header {
    width: 940px;
    display: flex;
     align-items: center;
     justify-content: space-between;
 }
.main-content-right__header-dropdowns {
    margin-right: auto;
    display: flex;
}
.main-content-right__header-item {
    position: relative;
    font-size: 15px;
    line-height: 1.15;
}
.main-content-right__header-dropdown-btn {
    border: none;
    background: none;
    border-bottom: 2px dotted var(--red);
    cursor: pointer;
    color: var(--red);
    margin-left: 5px;
}
.main-content-right__header-item:not(:last-child) .main-content-right__header-dropdown-btn {
    margin-right: 40px;
}
.main-content-right__header-dropdown {
    position: absolute;
    top: 120%;
    left: 80px;
    display: none;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.main_content_right__header_dropdown-show {
    display: flex;
}
.main-content-right__header-item:first-child .main-content-right__header-dropdown {
    width: 157px;
}
.main-content-right__header-item:nth-child(2) .main-content-right__header-dropdown {
    width: 143px;
}
.main-content-right__header-item:last-child .main-content-right__header-dropdown {
    width: 50px;
}
.main-content-right__header-dropdown button {
    padding: 8px 16px;
    text-align: left;
    border: none;
    background-color: var(--white);
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
.main-content-right__header-dropdown button:hover {
    color: var(--red);
}
.main-content-right__header-btns {
    display: flex;
    align-items: center;
}
.main-content-right__header-item div {
    display: flex;
}
.main-content-right__header-dropdown-active {
    background-color: var(--red) !important;
    color: var(--white);
}
.main-content-right__header-dropdown-active:hover {
    color: var(--white) !important;
}
.main-content-right__header-btns-btn {
    background: none;
    border: none;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--brown);
}
.main-content-right__header-btns-btn:not(:last-child) {
    margin-right: 12px;
}

.main-content-right__header-btns-btn:first-child i {
    margin-right: 5px;
}
.main-content-right__header-btns-btn:first-child  {
    padding: 7px 10px;
}

.main-content-right__header-btns-btn:not(:first-child) {
    width: 26px;
    height: 26px;
}
.main-content-right__header-btns-btn:nth-child(3) {
    display: grid;
    grid-template-columns: 10px 10px;
    grid-template-rows: auto;
    background-color: var(--white);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}
.main-content-right__header-btns-btn:nth-child(3)::before {
    width: 10px;
    height: 10px;
    content: "";
    background-color: var(--brown);
}
.main-content-right__header-btns-btn:nth-child(3)::after {
    width: 10px;
    height: 10px;
    content: "";
    background-color: var(--brown);
}
.main-content-right__header-btns-btn:nth-child(3) span {
    width: 10px;
    height: 10px;
    background-color: var(--brown);
}
.main-content-right__header-btns-btn:last-child {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-content-right__header-btns-btn:last-child span {
    width: 26px;
    height: 10px;
    background-color: var(--brown);
}
 .main-content-right__header-btns-btn-active.main-content-right__header-btns-btn-3 span{
    background-color: var(--red)!important;
    box-shadow: 0 3px 4px rgba(210,35,42,.38);
 }
 .main-content-right__header-btns-btn-active.main-content-right__header-btns-btn-1{
    background-color: var(--red)!important;
    box-shadow: 0 3px 4px rgba(210,35,42,.38);
 }
 .main-content-right__header-btns-btn-active.main-content-right__header-btns-btn-2::before, 
 .main-content-right__header-btns-btn-active.main-content-right__header-btns-btn-2::after,
 .main-content-right__header-btns-btn-active.main-content-right__header-btns-btn-2 span{
    background-color: var(--red)!important;
    box-shadow: 0 3px 4px rgba(210,35,42,.38);
 }


.main-content-right-add {
    padding: 28px 34px;
    margin: 24px auto;
    max-width: 906px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 4px rgba(146,146,146,.18);
    border: 6px solid #eddcb9;
    border-radius: 4px;
}
.main-content-right-add div {
    display: flex;
}
.main-content-right-add div div {
    flex-direction: column;
    margin-left: 30px;
}
.main-content-right-add p {
    font-size: 14pt;
    color: #57595b;
    font-weight: 700;
}
.main-content-right-add b{
    color: #57595b;
}
.main-content-right-add a {
    margin-top: 10px;
    max-width: 200px;
}


/* START PRODUCTS CARD  */
.main-content-right-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 30px;
    margin-bottom: 30px;
}

.main-content-right-products__item {
    position: relative;
    max-width: 282px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.main-content-right-products__item button {
    border: none;
    background-color: transparent;
}
.main-content-right-products__item header {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.main-content-right-products__item header div:first-child {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 25px;
}
.main-content-right-products__item header div:first-child button::before {
    display: none;
    position: absolute;
    top: 100%;
    left: -60px;
    padding: 5px 10px;
    border: 2px solid var(--brown);
    font-size: 12px;
    border-radius: 4px;
    color: var(--brown);
}
.main-content-right-products__item header div:first-child button:last-child:before
{
    content: "Сравнить";
}
.main-content-right-products__item header div:first-child button:first-child:before {
    content: "Отложить";
}

.main-content-right-products__item header div:first-child button {
    position: relative;
    font-size: 24px;
    line-height: 1.5;
    color: var(--border-color);
    transition: all 0.3s ease;
}
.main-content-right-products__item header div:first-child button:hover,
.main-content-right-products__item header div:first-child .active {
    color: var(--red);
}
.main-content-right-products__item header div:first-child button:hover::before {
    display: block;
}
.main-content-right-products__item header div:first-child button:first-child {
    margin-left: 10px;
}
.main-content-right-products__item header a {
    margin: 0 auto;
}
.product-main {
    display: flex;
    flex-direction: column;
}
.product-main div:first-child i:not(:last-child) {
    margin-right: 12px;
}
.product-main div:first-child i {
    color: var(--border-color);
}

.product-main .link1 {
    font-size: 14px;
    line-height: 1.2;
    color: #999;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-bottom: 5px;
}
.product-main .link1:hover {
    color: var(--red);
}
.product-main .link2 {
    margin-bottom: 5px;
    color: var(--blacck);
    text-decoration: none;
    line-height: 1.2;
    transition: all 0.3s ease;
}
.product-main .link2:hover {
    color: var(--red);
}
.product-main .shopping-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 10px;
}

.product-main .shopping-card button {
    padding: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ac966d;
    line-height: 38px;
    border: 1px solid #ac966d;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.main-content-right-products__item:hover .product-main .shopping-card button {
    background-color: var(--red);
    color: var(--white);
}
.main-content-right-products__item:hover
{
    box-shadow: 0 10px 15px rgba(146,146,146,.4);
}
/* .product-main .shopping-card button::before {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(../images/shopping.png);
    z-index: 10;
    background-color: var(--red);
    background-size: contain;
    background-repeat: no-repeat;
} */

.product-main .shopping-card span {
    font-size: 20px;
    font-weight: 700;
    color: var(--blacck);
}
.product-main .item-colors div {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
}
.product-main .item-colors {
    transition: all 0.3s ease;
    display: none;
}
.product-main .item-colors button {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    cursor: pointer;
}
.product-main .item-colors button:not(:last-child) {
    margin-right:5px;
}
.product-main .item-colors button:nth-child(1) {
    background-color: var(--blacck);
}
.product-main .item-colors button:nth-child(2) {
    background-color: var(--border-color);
}
.product-main .item-colors button:nth-child(3) {
    background-color: var(--brown);
}
.product-main .item-colors .item-colors-active {
    border: 2px solid var(--red);
}
.product-main .item-colors span {
    font-size: 16px;
}
.main-content-right-products__item-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    transition: all 0.3s ease;
}
.main-content-right-products__item footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-content-right-products__item footer span {
    font-size: 14px;
    line-height: 1.5;
    color: #787878;
}
.main-content-right-products__item footer button {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    color: #787878;
    text-decoration: underline;
    opacity: 0.7;
    cursor: pointer;
}
.main-content-right-products__item footer button i {
    font-size: 24px;
    margin-left: 8px;
    text-decoration: none !important;
}
.main-content-right-products__item footer button:hover i {
    color: #ad976d;
}

.main-content-right-products__item-hover p::before {
    width: 18px;
    height: 2px;
    content: "";
    background-color: #d1232a;
    margin-top: 0.65em;
    margin-right: 10px;
}
.main-content-right-products__item-hover p {
    display: flex;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.main-content-right-products__item footer button:hover .main-content-right-products__item-hover {
    display: block;
}

.main-content-right-products-second-grid-view {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.main-content-right-products__item:hover .product-main .item-colors{
    display: flex;
    flex-direction: column;
}

.main-content-right-products-second-grid-view .main-content-right-products__item{
    flex-basis: 50%;
    max-width: 50%;
    max-width: 450px;
}

.main-content-right-products-list-view {
    display: flex;
    flex-direction: column;
}
.main-content-right-products-list-view .main-content-right-products__item {
    display: flex;
    max-width: 900px;
}

.main-content-right-footer {
    padding: 34px 28px;
    margin: 24px 0;
    border: 6px solid #eddcb9;
    border-radius: 4px;
    text-align: justify;
    box-shadow: 0 3px 4px rgba(146,146,146,.18);
    font-family: "PT Sans";
}
.main-content-right-footer p {
    font-size: 18px;
    line-height: 1.2;
    color: #333;
    margin-bottom: 22px;
}
.main-content-right-footer h2 {
    font-size: 26px;
    margin-bottom: 22px;
    text-align: left;
}
.main-content-right-footer ul {
    margin-bottom: 22px;
}
.main-content-right-footer ul li {
    display: flex;
    align-items: center;
}
.main-content-right-footer ul li::before {
    width: 18px;
    height: 2px;
    margin-right: 10px;
    content: "";
    background-color: var(--red);
}



.main-form {
    margin: 0 auto;
    padding: 30px 0;
    background-color: var(--brown);
    margin-bottom: 45px;
    font-family: "PT Sans";
}
.main-form__container {
    display: flex;
    align-items: center;
}

.main-form h2 {
    max-width: 450px;
    font-size: 28px;
    font-weight: 700;
    color: #444;
    margin-left: 30px;
    margin-right: 90px;
}
.main-form form {
    max-width: 605px;
    font-size: 16px;
}
.main-form form div:first-child {
    display: flex;
    margin-bottom: 10px;
}
.main-form form div:first-child input:first-child {
    width: 470px;
    height: 50px;
    padding: 0 16px;
    font-size: 1em;
    border-color: transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
}
.main-form form div:first-child input:first-child::placeholder {
    color: #999;
    font-size: .88889rem;
    opacity: 1;
    transition: opacity .3s ease;
}
.main-form form div:first-child input:nth-child(2) {
    height: 50px;
    width: 132px;
    text-transform: uppercase;
    border: none;
    background-color: var(--red);
    transition: all 0.3s ease;
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.main-form form div:first-child input:nth-child(2):hover {
    background-color: #ff4149;
}



/* START SITE FOOTER  */
.site-footer__list {
    padding-bottom: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid #ececec;    
}
.site-footer__list a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: var(--blacck);
    font-size: 16px;
}
.site-footer__list li {
    margin-bottom: 12px;
}
.site-footer__list a:hover {
    text-decoration: underline;
    color: var(--red);
}
.footer__item {
    max-width: 312px;
}
.footer__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #444;
}
.secondary-list-link {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: var(--blacck);
    text-transform: uppercase;
    margin-bottom: 18px;
    margin-top: 12px;
}

.footer__item .underlined-link {
    color: var(--red) !important;
    text-decoration: none;
}
.footer__item .underlined-link:hover {
    text-decoration: none;
}
.footer__list-list-top p {
    font-size: 16px;
    line-height: 24px;
    color: #999;
}
.footer__list-list-top p:not(:last-child) {
    margin-bottom: 10px;
}
.footer__list-list-top {
    margin-bottom: 40px;
}
.footer__list-list-top a:last-child {
    display: inline-block;
    margin-top: 12px;
    padding-bottom: 2px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #999;
    color: #999;
}
.footer__list-list-top a:last-child:hover {
    border-color: transparent ;
    text-decoration: none;
}
.footer__list-list-bottom {
    font-size: 16px;
}
.footer__list-list-bottom-phone {
    font-size: 24px !important;
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
}
.footer__list-list-bottom-phone:hover {
    text-decoration: none !important;
    color: var(--blacck) !important;
}
.footer__list-list-bottom span{
    font-weight: 700;
    display: block;
    margin-bottom: 30px;
}


.footer__socials {
    margin-top: 15px;
}
.footer__socials ul {
    display: flex;
    align-items: center;
}
.footer__socials ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--brown);
    transition: all 0.3s ease;
}
.footer__socials ul li:hover {
    background-color: var(--red);
}
.footer__socials ul li:not(:last-child) {
    margin-right: 10px;
}
.footer__socials ul li a {
    font-size: 26px;
    color: var(--white);
}
.footer__socials ul li a:hover  {
    color: var(--white);
}


/* POPUPS  */
.call-popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 25;
}
.call-popup__show {
    display: flex;
}
.call-popup__container {
    padding: 0 6px;
    width: 390px;
    border-radius: 4px;
    background-color: var(--white);
}
.call-popup__container header {
    padding: 0px 30px;
    margin-bottom: 14px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}
.call-popup__container header button {
    color: var(--red);
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.call-popup__container header button:hover {
    transform: scale(1.2);
}
.call-popup__container header h2  {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #444;
}
.call-popup__container p {
    margin: 0 auto;
    max-width: 376px;
    padding: 0 36px;
    margin-bottom: 22px;
    font-size: 16px;
}
.call-popup__container div {
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: var(--brown);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.call-popup__container div input {
    cursor: pointer;
}
.call-popup__container div .input {
    width: 316px;
    height: 50px;
    padding: 0 16px;
    margin-bottom: 12px;
    border-radius: 4px;
    outline: none;
    border-color: transparent;
}
.call-popup__container div input::placeholder {
    font-size: 16px;
}
.call-popup__container div label {
    display: flex;
    cursor: pointer;
}
.call-popup__container div label {
    line-height: 1.2;
}
.call-popup__container div label .link {
    color: var(--red);
    cursor: pointer;
}
.call-popup__container div label .link:hover {
    text-decoration: underline;
}
.call-popup__container .bottom-btn {
    position: relative;
    left: -6px;
    width: 390px;
    height: 53px;
    border: none;
    background-color: var(--red);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white);
    transition: all 0.3s ease;
    cursor: pointer;
}
.call-popup__container .bottom-btn:hover {
    background-color: #ff4149;
}

.call-icon__wrapper {
    position: fixed;
    right: 90px;
    bottom: 140px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--red);
    color: var(--white);
    font-size: 29px;
    z-index: 15;
    cursor: pointer;
}
.call-icon__wrapper i {
    transition: all 0.3s ease;
}
.call-icon__wrapper:hover i {
    transform: scale(1.2);
}

/* header sign in popup  */
.sign-in-popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.9);
    z-index: 25;
}
.sign-in-popup-show {
    display: flex;
}
.sign-in-popup__container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.sign-in-popup__container {
    max-width: 390px;
    padding: 0 6px;
    border-radius: 4px;
    background-color: var(--white);
}
.sign-in-popup__container button {
    font-size: 16px;
}
.sign-in-popup__container header {
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 12px;
    height: 60px;
    border-bottom: 1px solid var(--border-color);
}
.sign-in-popup__container header h2 {
    font-size: 24px;
    margin-right: 30px;
    color: #444;
}
.sign-in-popup__container header button:nth-child(2) {
    color: var(--red);
    border-bottom: 1px solid var(--red);
}
.sign-in-popup__container header button:nth-child(3) {
    margin-left: auto;
    color: var(--red);
    transition: all 0.3s ease;
}
.sign-in-popup__container header button:nth-child(3):hover {
    transform: scale(1.2);
}
.sign-in-popup__sign-in {
    display: none;
}
.sign-in-popup__sign-in header {
    height: 32px;
    margin-bottom: 12px;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}
.sign-in-popup__sign-in header button:first-child {
    margin-right: 30px;
}
.sign-in-popup__sign-in header button {
    cursor: unset;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
.sign-in-popup__sign-in header .btn-active {
    color: var(--red) !important;
    border-bottom: 1px solid var(--red) !important;
    cursor: pointer !important;
}
.sign-in-popup__sign-in-content-email {
    display: flex;
}
.sign-in-popup__sign-in-content-email  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sign-in-popup__sign-in-content-email  form p {
    text-align: center;
    font-size: 14px;
    padding: 0 30px;
    padding-bottom: 20px;
    margin-bottom: 22px;
}
.sign-in-popup__sign-in-content-email  form span {
    font-size: 16px;
    margin-bottom: 10px;
}
.input__wrapper {
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: var(--brown);
    border-radius: 4px;
}
.input__wrapper  input {
    width: 316px;
    height: 50px;
    padding: 0 16px;
    border-color: transparent;
    border-radius: 4px;
    outline: none;
}
.input__wrapper  input::placeholder {
    font-size: 16px;
}
.popup__btn {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: var(--red);
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    border-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}
.popup__btn:hover {
    background-color:#ff4149;
}
.popup-main-btn {
    position: relative;
    left: -6px;
    width: 390px;
    height: 53px;
    background-color: var(--red);
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    border-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.popup-main-btn:hover {
    background-color:#ff4149;
}



.sign-in-popup__sign-in-socials {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.sign-in-popup__sign-in-socials .input__wrapper input:not(:last-child) {
    margin-bottom: 12px;
}
.sign-in-popup__sign-in-socials .input__wrapper label {
    position: relative;
    display: flex;
}
.sign-in-popup__sign-in-socials .input__wrapper label button {
    position: absolute;
    top: 13px;
    right: 20px;
    color: var(--red);
}
.sign-in-popup__sign-in-socials .input__wrapper label:last-child {
    width: 100%;
}
.sign-in-popup__sign-in-socials .input__wrapper label {
    font-size: 16px;
}
.sign-in-popup__sign-in-socials .input__wrapper label .checkbox {
    width: 26px;
    height: 26px;
    margin-right: 8px;
    border-radius: 4px;
    border: none;
}
.sign-in-popup__sign-in-socials span {
    font-size: 16px;
    margin-bottom: 10px;
}

.popup__socials-wrapper {
    margin-bottom: 26px;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.popup__socials-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;  
    color: var(--white); 
    text-decoration: none;
    transition: all 0.3s ease;
}
.popup__socials-wrapper a i {
    font-size: 20px;
    transition: all 0.3s ease;
}
.popup__socials-wrapper a:hover i {
    transform: scale(1.2);
}
.sign-in-popup__sign-up {
    position: relative;
    display: none;
    padding-bottom: 53px;
}
.sign-in-popup__sign-up .input__wrapper input:not(:last-child) {
    margin-bottom: 12px;
}
.sign-in-popup__sign-up .input__wrapper label {
    display: flex;
}
.sign-in-popup__sign-up .input__wrapper label .checkbox {
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.sign-in-popup__sign-up .input__wrapper label span {
    font-size: 16px;
    cursor: pointer;
}
.sign-in-popup__sign-up .input__wrapper label a {
    text-decoration: none;
    color: var(--red);
    transition: all 0.3s ease;
}
.sign-in-popup__sign-up .input__wrapper label a:hover {
    text-decoration: underline;
}
.popup-send-btn {
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 390px;
    height: 53px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red);
    transition: all 0.3s ease;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    cursor: pointer;
}
.popup-send-btn:hover {
    background-color:#ff4149;
}
.popup-sign-show {
    display: block;
}